<label for="search">Search:</label>
 <input class="form-control" type="text" name="search" [(ngModel)]="filter">
<div class="list-group" *ngFor="let act of acts | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
        <a href="#" class="list-group-item list-group-item-action panel" [routerLink]="['act', act.id, 'desc']">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 title"> {{ act.name }}</h5>
             <hr>
            <small>{{ act.title }}</small>
          </div>
        </a>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
