<div class="form-wrapper">


  <h2>
   Edit Profile
  </h2>




  <h3>
    Add information about yourself to share on your profile.
  </h3>

</div>
<hr>
<form class="edit__user" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div formGroupName="userData">
    <div class="row">
      <h4>Basic</h4>
      <div class="input-group-custom input-group-icon">
        <input formControlName="displayName" type="text" placeholder="Full Name" required/>
        <div class="input-icon">
          <i class="fa fa-user"></i>
        </div>
        <div *ngIf="userForm.controls.userData.controls['displayName'].errors && userForm.controls.userData.controls['displayName'].touched"
          class="error-msg">
          <div [hidden]="!userForm.controls.userData.controls['displayName'].errors.required" class="has-error">Display Name is required</div>
        </div>
      </div>

      <div class="input-group-custom input-group-icon">
        <input type="text" formControlName="mob" placeholder="Mobile Number" />
        <div class="input-icon">
          <i class="fa fa-phone"></i>
        </div>
        <div *ngIf="userForm.controls.userData.controls['mob'].errors && !userForm.controls.userData.controls['mob'].pristine" class="error-msg">
          <div [hidden]="!userForm.controls.userData.controls['mob'].errors.minlength && !userForm.controls.userData.controls['mob'].errors.maxlength">
            Mobile Number should have 10 numbers.
          </div>

          <div [hidden]="!userForm.controls.userData.controls['mob'].errors.pattern">Mobile Number should only contain numbers!</div>
        </div>
      </div>

      <div class="col-half">
        <label for="dob">Date of Birth</label>
        <div class="input-group input-group-icon">
          <input type="text" formControlName="dob" name="dob" id="dob" daterangepicker [options]="options3" (selected)="selectedDate($event, dob)"
          />
          <div class="input-icon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>

    </div>

    <hr>
    <div class="row">
      <h4>Professional</h4>
      <div class="input-group-custom input-group-icon">
        <input formControlName="company" type="text" placeholder="Company/Firm Name" />
        <div class="input-icon">
          <i class="fa fa-building"></i>
        </div>
      </div>
      <div class="input-group-custom input-group-icon">
        <input formControlName="designation" type="text" placeholder="Designation" />
        <div class="input-icon">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-half">
          <label for="member_since">Member of ICAI/ICSI/CMA since:</label>
          <div class="input-group input-group-icon">
            <input type="text" formControlName="member_since" name="member_since" id="member_since" daterangepicker [options]="options3"
              (selected)="selectedMemberDate($event, member_since)" />
            <div class="input-icon">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <label for="dob">Qualification</label>
        <div class="input-group-custom">
          <select formControlName="qualification">
            <option [value]="qualification" *ngFor="let qualification of qualifications">{{qualification}}</option>

          </select>
        </div>
      </div>

    </div>
  </div>
  <hr>
  <h4>Display Picture</h4>
  

  <div class="profile_upload_img">
  <div *ngIf="auth.user | async as user">
        <img class="profile_upload" [src]="image" width="250">
  </div>

  
  <div class="file">
      <label class="file-label">
        <input class="file-input" type="file" (change)="startUpload($event.target.files)">
        <span class="file-cta">
        </span>
      </label>
    </div>
    <div *ngIf="percentage | async as pct">
      Uploading... {{ pct | number }}%
    </div>
  
    <div *ngIf="snapshot | async as snap">
      <button (click)="task.pause()" class="btn btn-success" [disabled]="!isActive(snap)">Pause</button>
      <button (click)="task.cancel()" class="btn btn-danger" [disabled]="!isActive(snap)">Cancel</button>
      <button (click)="task.resume()" class="btn btn-info" [disabled]="!(snap?.state === 'paused')">Resume</button>
    </div>
  </div>
  
  
  <hr>
  <div class="submit-row">
    <span *ngIf="!userForm.valid && userForm.touched" class="help-block">Please enter valid data!</span>
    <button class="btn btn-primary pull-right" [disabled]="!userForm.valid" type="submit">Save</button>
  </div>

</form>







<!-- <div class="row">
        <h4>Terms and Conditions</h4>
        <div class="input-group">
          <input type="checkbox" id="terms"/>
          <label for="terms">I accept the terms and conditions for signing up to this service, and hereby confirm I have read the privacy policy.</label>
        </div>
      </div> -->
