<div class="container">
  <div class="row">
    <div class="col-lg-6 vid__wrapper video" >

     <section class="video-background" *ngIf="rule.video_url">
      <video controls class="video">
        <source [src]="rule.video_url" type="video/mp4" />
      </video>
    </section>

      <div>
        <h3>Related Sections</h3>
        <div *ngIf="rule.related_sections.length === 0">
          <span>No Related Sections</span>
        </div>
        <ul *ngIf="rule.related_sections.length !== 0">
          <li *ngFor="let section of rule.related_sections">
              <a target="_blank" routerLink="/section" [queryParams]="{
                law_id: section.law_id,
                act_id: section.act_id,
                chap_id: section.chap_id,
                section_id: section.section_id
              }">
              Section {{section.id}}. {{section.section_title}}

              </a>
          </li>

        </ul>
      </div>
      <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Related notifications:</h3>
            <div *ngIf="rule.related_notifications.length === 0">
              <span>No Related Notifications</span>
            </div>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div *ngIf="rule.related_notifications.length !== 0">
              <div *ngFor="let notification of rule.related_notifications">
                <div class="panel-body" target="_blank" routerLink="/notification" [queryParams]="{
                law_id: notification.law_id,
                act_id: notification.act_id,
                chap_id: notification.chap_id,
                notification_id: notification.notification_id
                }">
                  Notification {{notification.name}}. {{notification.notification_title}}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg-6">
      <h3>{{rule.name}}</h3>
      <div [innerHTML]="htmlText">

        <hr>

        <h3> Analysis </h3>
        <div [innerHTML]="htmlAnalysis"></div>
      </div>
      <hr>
      <div id="test text">TEST</div>

      <div *ngIf="rule.footnotes.length !== 0">
        <h3>Footnotes:</h3>
        <ul>
          <li *ngFor="let footnote of rule.footnotes">
            Footnote {{footnote.id}}. {{footnote.note}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
