<div class="container">
  <div class="row">
    <div class="col-lg-6 vid__wrapper" *ngIf="rule.video_url">

      <video controls class="video">
        <source [src]="rule.video_url" type="video/mp4" />
      </video>

      <div>
        <h3>Related Rules</h3>
        <div *ngIf="rule.related_sections.length === 0">
          <span>No Related Rules</span>
        </div>
        <ul *ngIf="rule.related_sections.length !== 0">
          <li *ngFor="let section of rule.related_sections">
            <!-- <Link to={`/rule?law_id=${rule.law_id}&act_id=${rule.act_id}&chap_id=${rule.chap_id}&rule_id=${rule.rule_id}`} target="_blank"> Rule {rule.id}. {rule.rule_title}
              </Link> -->
              <a target="_blank" routerLink="/rule" [queryParams]="{
                law_id: section.law_id,
                act_id: section.act_id,
                chap_id: section.chap_id,
                section_id: section.section_id
              }">
              Section {{section.id}}. {{section.section_title}}

              </a>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <h3>{{rule.name}}</h3>
      <div [innerHTML]="htmlText">

      </div>
      <!-- <div class="content" dangerouslySetInnerHTML={{ __html: this.props.rule.text }} /> -->
      <hr>
      <div id="test">TEST</div>

      <div *ngIf="rule.footnotes.length !== 0">
        <h3>Footnotes:</h3>
        <ul>
          <li *ngFor="let footnote of rule.footnotes">
            Footnote {{footnote.id}}. {{footnote.note}}
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
