.width {
  width: 100%;
}

@media (min-width: 360px) and (max-width: 640px) {
  .web-div {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .web-div {
    display: none;
  }
}

@media (min-width: 970px) and (max-width: 1200px) {
  .web-div {
    display: none;
  }
}

@media (min-width: 100px) and (max-width: 1000px) {
  .web-div {
    display: none;
  }
}

@media (min-width: 1200px) {
  .mob-div {
    display: none;
  }
}

.list-style{
  margin:10px;
  border-radius: 5px;
  box-shadow: 5px;
  border:#6571b5 solid 1px;
  text-align: center;
}

.active:hover{
  background-color: #34367d;
}

.active{
  background-color: #34367d;
}