@import url('https://fonts.googleapis.com/css?family=Roboto');

.panel-heading > .pan-title:before {
  float: right !important;
  font-family: FontAwesome;
  content:"\f078";
  padding-right: 5px;
}
.panel-heading.collapsed > .pan-title:before {
  float: right !important;
  content:"\f077";
}

.video{ 
  width: 100%;
  margin: 1px;
  padding: 7px;
  box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45);
}

.clsScroll{
  height:100%;
  overflow-y:scroll;
}

.container_scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.container_scroll::-webkit-scrollbar
{
  width: 6px;
	background-color: #F5F5F5;
}

.container_scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #bebebe;
}

.panel-heading{
  padding: 3px 45px;
  cursor: pointer;
}

/* .....................tabs style.......... */

#program h4 {
  color: #808080;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

#program h3 {
margin-top: 16px;
font-family: 'Roboto', sans-serif;
}

#program .program-divider {
  border: 1px solid #f9f9f9;
  margin-top: 32px;
  margin-bottom: 42px;
}

#program span {
  padding-right: 12px;
}

#program img {
border-radius: 50%;
}

 /* .nav-tabs {
margin-bottom: 20px;
}
.nav-tabs > li {
float: left;
margin-bottom: -1px;
}
.nav-tabs > li > a {
color: #6571b5;
font-weight: 600;
margin-right: 2px;
line-height: 1.42857143;
border: none;
border-radius: 0px;
font-family: 'Roboto', sans-serif;
}
.nav-tabs > li > a:hover {
background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
color: #ed7272;
cursor: default;
background-color: transparent;
border: 1px solid  #999;
border-radius: 3px 3px 0px 0px;
border-bottom-color: #999;
font-family: 'Roboto', sans-serif;
}    */
/* .tab-content {
padding-top: 20px;
} */

h2{
  font-family: 'Roboto', sans-serif;
}

.height{
  height: 75vh;
}

.contain{
  padding:10px;
}

.contain-head{
   padding:20px;
   color: #3f3f3f;
   /* text-align:center; */
   font-size: 18px;
}
  
.pan-heading{
  background-color: #6571b53c;

  padding:12px; 
}

.panel-title{
  font-weight:bold;
  color:#6571b5;
}

.fa-book,
.fa-file-text-o,
.fa-bell-o,
.fa-bullhorn,
.fa-pencil-square-o
{
 padding-right:10px;
}

.panel-info{
   border-color: #ddd; 
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #ed7272;
  cursor: default;
  font-weight:bold;
  /* background-color: rgb(243, 236, 252); */
  border: 1px solid #6571b5;
  border-bottom-color: transparent;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
a {
  color: #3f3f3f;
  text-decoration: none;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #6571b5;
}
