@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

h2 {
  font-family: 'Coming Soon', cursive;
}

@-webkit-keyframes HkYQWw5nD_M_rk1K5hvOf_Animation {
  0% {
    -webkit-transform: translate(150px, 0px);
    transform: translate(150px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  8.89% {
    -webkit-transform: translate(110px, 1px);
    transform: translate(110px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  11.11% {
    -webkit-transform: translate(100px, 0px);
    transform: translate(100px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  13.33% {
    -webkit-transform: translate(90px, 1px);
    transform: translate(90px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15.56% {
    -webkit-transform: translate(80px, 0px);
    transform: translate(80px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  17.78% {
    -webkit-transform: translate(70px, 1px);
    transform: translate(70px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  20% {
    -webkit-transform: translate(60px, 0px);
    transform: translate(60px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  22.22% {
    -webkit-transform: translate(50px, 1px);
    transform: translate(50px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  24.44% {
    -webkit-transform: translate(40px, 0px);
    transform: translate(40px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  26.67% {
    -webkit-transform: translate(30px, 1px);
    transform: translate(30px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  28.89% {
    -webkit-transform: translate(20px, 0px);
    transform: translate(20px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  31.11% {
    -webkit-transform: translate(10px, 1px);
    transform: translate(10px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  33.33% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  35.56% {
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  37.78% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  40% {
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  42.22% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  44.44% {
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  46.67% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  48.89% {
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  51.11% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  53.33% {
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  55.56% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  57.78% {
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  60% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  62.22% {
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  64.44% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  66.67% {
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  68.89% {
    -webkit-transform: translate(-11.33px, 0px);
    transform: translate(-11.33px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  71.11% {
    -webkit-transform: translate(-22.66px, 1px);
    transform: translate(-22.66px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  73.33% {
    -webkit-transform: translate(-33.99px, 0px);
    transform: translate(-33.99px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  75.56% {
    -webkit-transform: translate(-45.32px, 1px);
    transform: translate(-45.32px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  77.78% {
    -webkit-transform: translate(-56.65px, 0px);
    transform: translate(-56.65px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  80% {
    -webkit-transform: translate(-67.98px, 1px);
    transform: translate(-67.98px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  82.22% {
    -webkit-transform: translate(-79.32px, 0px);
    transform: translate(-79.32px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  84.44% {
    -webkit-transform: translate(-90.66px, 1px);
    transform: translate(-90.66px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  86.67% {
    -webkit-transform: translate(-101.99px, 0px);
    transform: translate(-101.99px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  88.89% {
    -webkit-transform: translate(-113.32px, 1px);
    transform: translate(-113.32px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  91.11% {
    -webkit-transform: translate(-124.66px, 0px);
    transform: translate(-124.66px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  93.33% {
    -webkit-transform: translate(-136px, 1px);
    transform: translate(-136px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  95.56% {
    -webkit-transform: translate(-147.33px, 0px);
    transform: translate(-147.33px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  97.78% {
    -webkit-transform: translate(-158.67px, 1px);
    transform: translate(-158.67px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translate(-170px, 0px);
    transform: translate(-170px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}
@keyframes HkYQWw5nD_M_rk1K5hvOf_Animation {
  0% {
    -webkit-transform: translate(150px, 0px);
    transform: translate(150px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  8.89% {
    -webkit-transform: translate(110px, 1px);
    transform: translate(110px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  11.11% {
    -webkit-transform: translate(100px, 0px);
    transform: translate(100px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  13.33% {
    -webkit-transform: translate(90px, 1px);
    transform: translate(90px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15.56% {
    -webkit-transform: translate(80px, 0px);
    transform: translate(80px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  17.78% {
    -webkit-transform: translate(70px, 1px);
    transform: translate(70px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  20% {
    -webkit-transform: translate(60px, 0px);
    transform: translate(60px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  22.22% {
    -webkit-transform: translate(50px, 1px);
    transform: translate(50px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  24.44% {
    -webkit-transform: translate(40px, 0px);
    transform: translate(40px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  26.67% {
    -webkit-transform: translate(30px, 1px);
    transform: translate(30px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  28.89% {
    -webkit-transform: translate(20px, 0px);
    transform: translate(20px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  31.11% {
    -webkit-transform: translate(10px, 1px);
    transform: translate(10px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  33.33% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  35.56% {
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  37.78% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  40% {
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  42.22% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  44.44% {
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  46.67% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  48.89% {
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  51.11% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  53.33% {
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  55.56% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  57.78% {
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  60% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  62.22% {
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  64.44% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  66.67% {
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  68.89% {
    -webkit-transform: translate(-11.33px, 0px);
    transform: translate(-11.33px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  71.11% {
    -webkit-transform: translate(-22.66px, 1px);
    transform: translate(-22.66px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  73.33% {
    -webkit-transform: translate(-33.99px, 0px);
    transform: translate(-33.99px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  75.56% {
    -webkit-transform: translate(-45.32px, 1px);
    transform: translate(-45.32px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  77.78% {
    -webkit-transform: translate(-56.65px, 0px);
    transform: translate(-56.65px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  80% {
    -webkit-transform: translate(-67.98px, 1px);
    transform: translate(-67.98px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  82.22% {
    -webkit-transform: translate(-79.32px, 0px);
    transform: translate(-79.32px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  84.44% {
    -webkit-transform: translate(-90.66px, 1px);
    transform: translate(-90.66px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  86.67% {
    -webkit-transform: translate(-101.99px, 0px);
    transform: translate(-101.99px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  88.89% {
    -webkit-transform: translate(-113.32px, 1px);
    transform: translate(-113.32px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  91.11% {
    -webkit-transform: translate(-124.66px, 0px);
    transform: translate(-124.66px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  93.33% {
    -webkit-transform: translate(-136px, 1px);
    transform: translate(-136px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  95.56% {
    -webkit-transform: translate(-147.33px, 0px);
    transform: translate(-147.33px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  97.78% {
    -webkit-transform: translate(-158.67px, 1px);
    transform: translate(-158.67px, 1px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translate(-170px, 0px);
    transform: translate(-170px, 0px);
    transform-box: fill-box;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}
#rkN-P9hvOM * {
  -webkit-animation-duration: 4.5s;
  animation-duration: 4.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
#HkHZDcnwOG {
  fill: #444f9b;
}
#ByP-vcnPOG {
  fill: #fff;
}
#H1FWD52wuf {
  fill: #ccc;
}
#S1qbw92P_M {
  fill: #ccc;
}
#SJiZv9nv_G {
  fill: #ccc;
}
#SJhZv5hvuf {
  fill: #ccc;
}
#r1Tbvq3Ddz {
  fill: #ccc;
}
#BkR-w52wuf {
  fill: #ccc;
}
#S1yeZD52wOM {
  fill: #ccc;
}
#BklxZDqhwuG {
  fill: #ccc;
}
#H1blbvcnDdG {
  fill: #ffd47f;
}
#rkzebD93vdz {
  fill: #fa9891;
}
#SkXlZv53DuG {
  fill: #a2c9eb;
}
#rJ4e-vq3wuG {
  fill: #a2c9eb;
}
#BkrlWw9nDdM {
  fill: #a2c9eb;
}
#ryIxZw5nD_z {
  fill: #ccc;
}
#B1wgbDq2Puf {
  fill: #ccc;
}
#BkueZP93w_z {
  fill: #ccc;
}
#rktgWD5hDOG {
  fill: #ccc;
}
#SJ9eWP53DOz {
  fill: #a2c9eb;
}
#Hk2gWD92wuG {
  fill: #5896cc;
}
#Hy6lZDq3D_z {
  fill: #fff;
  fill-rule: nonzero;
}
#SJCxWv93v_z {
  fill: #fff;
  fill-rule: nonzero;
}
#BkyWZP9nD_z {
  fill: #91bde3;
}
#HygWbwcnw_M {
  fill: #444f9b;
}
#ryZZbP52v_G {
  fill: #a2c9eb;
}
#H1mW-Dqhvuz {
  fill: #ffd47f;
}
#SJVZZwqnD_f {
  fill: #ffd47f;
}
#S1SW-v5nvuM {
  fill: #ffd47f;
}
#r1UbbP5nD_f {
  fill: #ffd47f;
}
#SkPb-v5hDOG {
  fill: #ffd47f;
}
#H1_-Wwq2v_G {
  fill: #ffd47f;
}
#BJt-WDchP_G {
  fill: #ffd47f;
}
#BkqbbDq2Puz {
  fill: #ffd47f;
}
#rkhZ-wchv_G {
  fill: #5896cc;
}
#SJa-bP92vdz {
  fill: #5896cc;
}
#r1kGZv93wdz {
  fill: #5896cc;
}
#HyxfWP9hvdM {
  fill: #a2c9eb;
}
#rJbzbvc2vuz {
  fill: #ffd7b7;
}
#ByMMWP5hD_z {
  fill: #ffd7b7;
}
#rkXzWDq2Ddz {
  fill: #4d4d4d;
}
#HyEfWDcnv_M {
  fill: #a2c9eb;
}
#BkSG-P52wdG {
  fill: #fff;
}
#B1LMbD93POf {
  fill: #ffd7b7;
}
#HJuf-P9hwdf {
  fill: #5896cc;
}
#HkFMWDqhvuM {
  fill: #a2c9eb;
}
#HkqM-vcnvuf {
  fill: #ffd7b7;
}
#BJjGbvchvuG {
  fill: #4d4d4d;
}
#r1hMWP53DOf {
  fill: #a2c9eb;
}
#SJTfZPqhP_G {
  fill: #fff;
}
#SkCMbvq3v_G {
  fill: #ffd7b7;
}
#BJym-Dc2vuz {
  fill: #ffd7b7;
}
#HkW7Ww52P_z {
  fill: #5896cc;
}
#SkzXbPq2PdG {
  fill: #a2c9eb;
}
#r1m7Zwc2wuz {
  fill: #ffd7b7;
}
#BkNQbDc3vuG {
  fill: #4d4d4d;
}
#B1rmZD9hwdz {
  fill: #a2c9eb;
}
#BJUmWP5nP_f {
  fill: #fff;
}
#B1vQWP93DuM {
  fill: #ffd7b7;
}
#HJOXbvqhPuG {
  fill: #ffd7b7;
}
#r19QZP92DuG {
  fill: #5896cc;
}
#rJimbwchDuM {
  fill: #5896cc;
}
#HkpXZD5nDuG {
  fill: #4a301b;
}
#SkAQWP52vuf {
  fill: #5896cc;
}
#rkJ4Wv53DdM {
  fill: #a2c9eb;
}
#B1gNWv9hP_z {
  fill: #ffd7b7;
}
#B1WVWw5hPuG {
  fill: #ffd7b7;
}
#BJzV-Pq3Pdz {
  fill: #4a301b;
}
#rk7E-vc2vuM {
  fill: #a2c9eb;
}
#HJV4-vcnwdz {
  fill: #fff;
}
#HySNZDcnv_z {
  fill: #ffd7b7;
}
#H1LV-w52POz {
  fill: #a2c9eb;
}
#B1v4bP5nPdM {
  fill: #666;
}
#r1_EZD52wOM {
  fill: #a2c9eb;
}
#r1YEWDc2Ddf {
  fill: #a2c9eb;
}
#HkYQWw5nD_M_rk1K5hvOf {
  -webkit-animation-name: HkYQWw5nD_M_rk1K5hvOf_Animation;
  animation-name: HkYQWw5nD_M_rk1K5hvOf_Animation;
}

