.pointer {
  cursor: pointer;
}

.head {
  background-color: #6571B5;
  color: white;
  text-align: center;
}


.search-box{
  border:#6571B5 solid 1px;
  border-radius: 5px;
  padding:4px;
}

.date-style{
  border:0px;
}

.box{
  padding-bottom: 20px;
}

.heading {
  margin: 0px;
  /* border-top:1px solid #6571b5;  */
  /* border-bottom:2px solid #6571b5;  */
  font-size: 18px;
  padding-left:16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color:  #34367d;
  
}

.chapter-name{
  padding-bottom:20px;
}

@media (min-width: 360px) and (max-width: 640px) {
  .mob-div {
    margin:5px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mob-div {
    margin:5px;
  }
}

@media (min-width: 970px) and (max-width: 1200px) {
  .mob-div {
    margin:5px;
  }
}

@media (min-width: 100px) and (max-width: 1000px) {
  .mob-div {
    margin:5px;
  }
}

@media (min-width: 996px) and (max-width: 1200px) {
  .mob-div{
    margin:5px;
  }
} 

