
@import url('https://fonts.googleapis.com/css?family=Roboto');
.pointer {
  cursor: pointer;
}

.head {
  background-color:#6571B5;
  color: white;
  text-align: center;
}


.sty-date{
  text-align: center;
}

.container {
	width: 1024px;
	padding: 2em;
}

.bold-blue {
	font-weight: bold;
	color: #0277BD;
}

.search-box-style{
  border: 1px solid #6571b5;
  padding-bottom: 30px;
  padding-top:20px;
  height: 40%;
  border-radius: 5px;
  outline: none;
  
}

.date-box{
  float: left;
  align: center;
  font-family: 'Roboto', sans-serif;
}

.date-box-1{
  border:0px;
}
.search-box{
  width:100%;
  float: left;
  padding:5px;
  float:right;
  
}

.search-box-style-1{
  border: 1px solid #6571b5;
  padding: 10px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  
}

.pointer {cursor: pointer;}