
<div class="col-lg-7 search-box pointer">
  <div class="col-lg-4"><label for="daterangeInput">Select date:</label></div>
  <div class="col-lg-2 pointer"><input type="text" class="date-style" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)" /></div>
</div>

<div class="col-lg-5">
<!--   
  <label for="search">Search:</label> -->
  <input class="form-control search-box pointer" type="text" name="search" placeholder="Search..." [(ngModel)]="filter">
</div>  


  <hr>
    <table class="table table-striped">
    <thead class="head">
      <tr>
        <th (click)="sortByName()" class="col-md-3">
          Notification No.
          <i class="fa" [ngClass]="{'fa-sort': column != 'name', 'fa-sort-asc': (column == 'name' && isDesc), 'fa-sort-desc': (column == 'name' && !isDesc) }" aria-hidden="true"> </i>
        </th>
        <th (click)="sort('date')" class="col-md-2">
          Date
          <i class="fa" [ngClass]="{'fa-sort': column != 'date', 'fa-sort-asc': (column == 'date' && isDesc), 'fa-sort-desc': (column == 'date' && !isDesc) }" aria-hidden="true"> </i>
        </th>
        <th (click)="sort('subject')" class="col-md-5">
          Subject
          <i class="fa" [ngClass]="{'fa-sort': column != 'subject', 'fa-sort-asc': (column == 'subject' && isDesc), 'fa-sort-desc': (column == 'subject' && !isDesc) }" aria-hidden="true"> </i>
        </th>
        <th class="col-md-2">
          PDF Link
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notification of notifications | filter: filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
        <td (click) = "toNotification(notification.name)">
          {{notification.name}}
        </td>
        <td>
          {{notification.date}}
        </td>
        <td>
          {{notification.subject}}
        </td>
        <td>
            <a [href]="notification.pdf" target="_blank">Link</a>
          </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
