<!-- <div class="col-sm-6 col-md-12 col-lg-12 col-xs-12 app">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                 <div class="list-group">
                    <a tyle="cursor: pointer;" [routerLink]="[index]" routerLinkActive="active" class="box clearfix" class="list-group-item active text-center">
                        <h4>{{ law.name | uppercase }}</h4>
                        <hr>
                        <p>{{ law.title }}</p>
                    </a>
                </div> 
            </div>
        </div>
    </div>
</div> -->

<a style="cursor: pointer;" [routerLink]="[index]" routerLinkActive="active" class="list-group-item clearfix" >
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{ law.name | uppercase }}</h4>
        <p class="list-group-item-text">{{ law.title }}</p>
    </div>
    <!-- <span class="pull-right">
<img
[src]="recipe.imagePath"
alt="{{ recipe.name }}"
class="img-responsive"
style="max-height: 50px;">
</span> -->
</a>


<!--    
 <div class="col-sm-6 col-md-12 col-lg-12 col-xs-12 app">
   <a tyle="cursor: pointer;"
   [routerLink]="[index]"
   routerLinkActive="active"
   class="box clearfix">
  <div class="tab">
      <button class="tablinks" id="defaultOpen">{{ law.name | uppercase }}<hr><p>{{ law.title }}</p></button>
    </div>
  </a>
  </div>
    -->

<!-- <div class="col-sm-6 col-md-12 col-lg-12 col-xs-12 app">
            <a style="cursor: pointer;"
            [routerLink]="[index]"
            routerLinkActive="active"
            class="box clearfix">
        <div class="portfolio-item">
          <div class="hover-bg"> <a href="assets/image/blue.jpg" rel="prettyPhoto">
            <div class="hover-text">
              <h4>{{ law.name | uppercase }}</h4>
              <small>{{ law.title }}</small>
              <div class="clearfix"></div>
            </div>
            <img src="assets/image/blue.jpg " class="img-responsive" alt="Project Title"> </a> </div>
        </div>
    </a>
  </div>  -->




<!-- 
   <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <a style="cursor: pointer;"
        [routerLink]="[index]"
        routerLinkActive="active"
        class="box clearfix">
          <div class="hovereffect">
              <img class="img-responsive" src="assets/image/blue.jpg" alt=""> 
                  <div class="overlay">
                      <h2>{{ law.name | uppercase }}</h2>
                      <p>
                          <a href="#">{{ law.title }}</a>
                      </p>
                  </div>
          </div>
      </a>
    </div>  -->



<!-- <div class="container">
        <div class="content">
          <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">{{ law.name | uppercase }}</h3>
              <p class="content-text">{{ law.title }}</p>
            </div>
          </a>
        </div>
      </div>

      

      <h2 id="demo12">12. Opacity #2</h2>
<div class="hover12 column">
  <div>
    <figure><img src="https://nxworld.net/example/css-image-hover-effects/pic01.jpg" />Hover</figure>
    <span>Hover</span>
  </div>
</div> -->



<!--        

          <div class="col-md-3 col-sm-6 col-xs-12">
                <a
                    style="cursor: pointer;"
                    [routerLink]="[index]"
                    routerLinkActive="active"
                    class="list-group-item clearfix">
                    <div class="pull-left col-xs-12">
                      <h4 class="list-group-item-heading">{{ law.name | uppercase }}</h4>
                      <p class="list-group-item-text">{{ law.title }}</p>
                    </div>
                   
                  </a>
                </div>  -->
<!-- <span class="pull-right">
                          <img
                            [src]="law.imagePath"
                            alt="{{ law.name }}"
                            class="img-responsive"
                            style="max-height: 50px;">
                        </span> -->