<a
  style="cursor: pointer;"
  (click)="toActs()"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ law.name }}</h4>
    <p class="list-group-item-text">{{ law.title }}</p>
  </div>
</a>


<!--

          <div class="col-md-3 col-sm-6 col-xs-12">
                <a
                    style="cursor: pointer;"
                    [routerLink]="[index]"
                    routerLinkActive="active"
                    class="list-group-item clearfix">
                    <div class="pull-left col-xs-12">
                      <h4 class="list-group-item-heading">{{ law.name | uppercase }}</h4>
                      <p class="list-group-item-text">{{ law.title }}</p>
                    </div>

                  </a>
                </div>  -->
                 <!-- <span class="pull-right">
                          <img
                            [src]="law.imagePath"
                            alt="{{ law.name }}"
                            class="img-responsive"
                            style="max-height: 50px;">
                        </span> -->
