.box{
  padding: 20px;
  margin: 10px;
}
.card {
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
  box-shadow: 0 10px 6px -6px #777;
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px;
  /* border:1px solid black; */
  height: 100%;
  background-image: url("/assets/image/artical.jpg");
  background-size: 200px 300px;
  background-repeat: no-repeat;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

/* Add some padding inside the card container */
.card-body {
  padding: 2px 16px;
}

.search-box{
  border:#6571B5 solid 1px;
  border-radius: 5px;
  padding:4px;
}


/* ....................card style.................. */

.area-head{
  float:left;
}

.article-img{
  float:left;
} 


.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-area{
  float:left;
  padding-left: 30%;
}


.article-img {
  vertical-align: middle;
  height:100px;
  width:200%;
} 


/* .....................Media................ */

@media (min-width: 360px) and (max-width: 640px) {
  .web-div {
    /* display: none; */
  }
  .card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    box-shadow: 0 10px 6px -6px #777;
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
    /* border:1px solid black; */
    height: 100%;
    background-image: url("/assets/image/artical.jpg");
    background-repeat: no-repeat;
    height: 100%!important;
   
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  }
  
  /* Add some padding inside the card container */
  .card-body {
    padding-left: 216px;
  }
  
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mob-div {
    /* display: none; */
  }
  .card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    box-shadow: 0 10px 6px -6px #777;
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
    /* border:1px solid black; */
    height: 100%;
    background-image: url("/assets/image/artical.jpg");
    background-size:200px 300px;
    background-repeat: no-repeat;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  }
  
  /* Add some padding inside the card container */
  .card-body {
    padding-left: 216px;
  }
}

@media (min-width: 970px) and (max-width: 1200px) {
  .mob-div {
    /* display: none; */
  }
  .card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    box-shadow: 0 10px 6px -6px #777;
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
    /* border:1px solid black; */
    height: 100%;
    background-image: url("/assets/image/artical.jpg");
    background-size:200px 300px;
    background-repeat: no-repeat;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  }
  
  /* Add some padding inside the card container */
  .card-body {
    padding-left: 216px;
  }
}

@media (min-width: 100px) and (max-width: 1000px) {
  .web-div {
    /* display: none; */
  }
  .card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    box-shadow: 0 10px 6px -6px #777;
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
    /* border:1px solid black; */
    height: 100%;
    background-image: url("/assets/image/artical.jpg");
    background-repeat: no-repeat;
    height: 100%!important;
    
    
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  }
  
  /* Add some padding inside the card container */
  .card-body {
    padding-left: 216px;
  }
}

@media (min-width: 996px) and (max-width: 1200px) {
  .web-div{
    /* display: none; */
  }
  .card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    box-shadow: 0 10px 6px -6px #777;
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
    /* border:1px solid black; */
    height: 100%;
    background-image: url("/assets/image/artical.jpg");
    background-repeat: no-repeat;
    height: 100%!important;

  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  }
  
  /* Add some padding inside the card container */
  .card-body {
    padding-left: 216px;
  }
} 

@media (min-width: 1201px) {
  .mob-div {
     /* display: none;   */
  }
  .card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    box-shadow: 0 10px 6px -6px #777;
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
    /* border:1px solid black; */
    height: 100%;
    background-image: url("/assets/image/artical.jpg");
    background-size:200px 300px;
    background-repeat: no-repeat;
    
  }
  
 
}

@media (max-width: 1200px) {
  .web-div {
     /* display: none;  */
  } 
  
  .card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    box-shadow: 0 10px 6px -6px #777;
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
    /* border:1px solid black; */
    height: 100%;
    background-image: url("/assets/image/artical.jpg");
    background-repeat: no-repeat;
    height: 100%!important;


  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  }
  
  /* Add some padding inside the card container */
  .card-body {
    padding-left: 216px;
  }
}


.text-area{
padding-left:40px;
}

.card-area{
  float:left;
}