.box {
  padding: 15px;
  margin-bottom: 5px;
}

.card{
  /* Add shadows to create the "card" effect */
  /* transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; */
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(0,0,0,.1);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  /* margin: 0 auto 1.6%; */
  overflow: hidden;
  position: relative;
  font-size: 14px;
  line-height: 1.45em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-box{
  border: 1px solid #6571b5;
}