.card{
  /* Add shadows to create the "card" effect */
  /* transition: 0.3s;
  box-shadow: 0 10px 6px -6px #777;
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px; */
   border:1px solid #3f3f3f;
  /* height: 100%;
  background-image: url("/assets/image/cloud.jpg");
  background-repeat: no-repeat;
  height: 100%!important; */

}


/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-body {
  padding: 2px 16px;
}