<div *ngIf="articles.length === 0; else article;">
 <h1>ARTICLES NOT HERE YET!</h1>
  <app-construction></app-construction>
</div>

<ng-template #article>
  <div class="box">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-right">
      <input class="form-control search-box" type="text" name="search" placeholder="Search..." [(ngModel)]="filter">
    </div>
  </div>
  <hr>
  <div class="card" *ngFor="let article of articles | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
    <app-article-item [law_id]="law_id" [article]="article" [index]="i">
    </app-article-item>
  </div>

</ng-template>
