<div class="container">
    <div class="row">
          <div class="panel panel-info">
            <div class="force-overflow panel-heading">
              <h4>{{article.heading}}</h4>
            </div>
            <div class="panel-body" [innerHTML]="htmlText"></div>
          </div>
          <hr>
          <div class="panel panel-info">
            <div class="force-overflow panel-heading">
              <h4>Analysis</h4>
            </div>
            <div class="panel-body" [innerHTML]="htmlAnalysis"></div>
          </div>
        </div>

      </div>
