@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans:400,700');

.panel-heading > .pan-title:before {
  float: right !important;
  font-family: FontAwesome;
  content:"\f078";
  padding-right: 5px;
}
.panel-heading.collapsed > .pan-title:before {
  float: right !important;
  content:"\f077";
}

.article-container {
  padding: 0 10px;
  margin: 0 5px;
}

.mb-0 {
  margin-bottom: 3px;
  font-family: "Roboto", Helvetica;
  color: #333333;
  font-weight: 300;
  font-size: 2.3em;
}
.byline {
  margin-top: 13px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  margin-top:0;
} 

blockquote {
  margin-left: 10px;
}

blockquote > p {
  font-size: 0.9em;
  font-style: oblique;
}

.date {
  background: #fe921f;
  color: #ffffff;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px 15px 8px;
  text-transform: uppercase;
}

.base {
  color: #737373;
}

/*GOOGLE STYLE*/
.star-container {
  display:grid;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: -1px 2px 4px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1);
  margin: 0 auto;
  position: relative;
  padding:0px;
}

.inner {
  background-color: white;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.avg-rating {
  float: left;
  width: 100%;
  text-align: center;
  background-color: #6571b5;
  color:#fff;
  font-size:15px;
  padding-top:5%;
  vertical-align: center;
  height:152px;

}

.avg_rating_grid{
  display: grid;
  background-color:#6571b5;
  height:40%;

}

.rating-num {
  font-family: "Roboto", Helvetica;
  color: #737373;
  font-weight: 300;
  color: #fff;
  font-size: 65px;
  font-weight: 100;
  line-height: 1em;
  margin-top:5%;
}

.rating-stars {
  font-size: 1em;
  color: #e3e3e3;
}
.rating-stars .active {
  color: #737373;
}

.rating-users {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.histo {
  float: left;
  width: 70%;
  font-size: 16px;
  justify-items: center;
  grid-template-columns: 100%;
  display:grid;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
  color: #c4c1c1;
  font-size:12px;
} 

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #fff;
  font-size:12px;
}

/*User Rating*/
fieldset,
label {
  margin: 0;
  padding: 0;
}
.rating {
  border: none;
  float: left;
}
.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.rating > .half:before {
  content: "\f089";
  position: absolute;
}
.rating > label {
  color: #ddd;
  float: right;
}
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
}
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
selection .rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}


    
h1 {
  margin-bottom: 0;
}



.article___img{
 text-align: center;
}

.article__img {
  width:70%;
  height:300px;
  object-fit:cover;
}

.article__body{
 width:80%;
 margin-right:auto;
 margin-left:auto;
 font-size:16px;
 margin-top:38px;
 font-family: 'Open Sans', sans-serif;
}


hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
.author{
  font-size: 16px;
  color:#333333;
}

.rating_template{
  color:#333333;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
}

.panel-heading{
  margin: 0px;
  /* border-top:1px solid #6571b5;  */
  /* border-bottom:2px solid #6571b5;  */
  font-size: 2rem;
  padding:5px;
  font-family: 'Muli', sans-serif;
  font-weight: 500;
  color:#34367d;
  padding:3px 16px;
}

.pan-heading{
  background-color: #6571b53c;
  padding:12px; 
  font-family: 'Muli', sans-serif;
}

.panel-info {
  border-color: #6571b5;
}

.card__author {
  padding-left: 0 !important;
  justify-items: center;
}

.card__author img,
.card__author-content {
  display: inline-block;
  vertical-align: middle;
}

.card__author img {
  height: 72px;
  border-radius: 50%;
  margin-top:3px;
  margin-right: 5.6em;
}

.stars {
  vertical-align: middle;
  margin-left: auto;
  text-align: center;
  padding-right: 0 !important;
}

.card__author {
  display: grid;
  grid-template-columns: 60px auto;
  /* grid-template-rows: 1fr 1fr; */
}

.card__author-content {
  align-self: center;
}

.card__author-content > a {
  color: #3f3f3f;
}

.card__author-content > p {
  margin-bottom: 0 !important;
  color: #9b9b9b;
  font-size: 1.2rem;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  line-height: 20px !important;
}

.related{
 margin-right:auto;
 margin-left:auto; 
 width:70;
}