<div class="card-body">
  <div class="card-img">
      <img [src]="article.uri" class="img-responsive" alt="">
  </div>
  <div class="card-content">
      <div class="description">
          <h4>{{article.heading}}</h4>
          <h5 class="card-text">{{article.base}}</h5>
          <p class="summary">{{article.excerpt}}</p>
          <a class="pull-right" (click)="toArticle(article.id)">Read More</a>
        </div>
        <br>
        <hr>
        <div class="card__action row">
          <div class="card__author col-lg-8">
            <div class="card__author-dp">
              <img [src]="author.image_uri" class="img-thumbnail" alt="author" *ngIf="author">
            </div>
            <div class="card__author-content">
              <a [routerLink]="['/author', article.author_id]">{{article.by}}</a>
              <p>
                {{article.date | date}}
              </p>
            </div>
          </div>
          <div class="stars pull-right col-lg-4">
            <span>{{ avgRating | async | round }}</span>
            <div class="stars-outer">
              <div class="stars-inner" [style.width]="((avgRating | async | round)*20)+'%'"></div>
            </div>
          </div>
        </div>
  </div>
</div>
