<!-- <div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12 menu">
        <ul class="nav nav-tabs">
          <li role="presentation" routerLinkActive="active">
            <a class="btn-connexion pointer" routerLink="/auth/login">LOGIN</a>
          </li>
          <li role="presentation" routerLinkActive="active">
            <a class="btn-enregistrer active pointer" href="#" routerLink="/auth/register">REGISTER</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->


<div class="container">
  <div class="row">
    <div class="col-md-12">



      <!-- <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <div class="welcome-script">
            <img class="bg-img" src="assets/image/logo.png" height="180px" width="180px" align="center">
          </div>
          <hr>
        </div>
      </div> -->

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">

          <!-- <div class="form-top text-center">

          </div> -->
          <div class="form-bottom">
            <div class="welcome-script">
              <img class="bg-img" src="assets/image/logo.png" height="180px" width="180px" align="center">
            </div>
            <div class="menu">
              <ul class="nav nav-pills center-pills">
                <li role="presentation" class="underlineHover" routerLinkActive="active">
                  <a class="btn-connexion pointer" routerLink="/auth/login">LOGIN</a>
                </li>
                <li role="presentation" class="underlineHover" routerLinkActive="active">
                  <a class="btn-enregistrer active pointer" href="#" routerLink="/auth/register">REGISTER</a>
                </li>
              </ul>
            </div>

            <router-outlet></router-outlet>
          </div>


          <!-- <button class="btn btn-link"></button> -->
        </div>
      </div>
    </div>
  </div>
</div>
