
.sec-wid{
    width:100%;
}
 
.border{
    border-right: rgb(208, 206, 206) solid 1px;
    margin-bottom: 20px;    
}

.gutter {
    margin-left: 20px;
}

@media (min-width: 360px) and (max-width: 640px) {
    .web-div {
      display: none;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .web-div {
      display: none;
    }
  }
  
  @media (min-width: 970px) and (max-width: 1200px) {
    .web-div {
      display: none;
    }
  }
  
  @media (min-width: 100px) and (max-width: 1000px) {
    .web-div {
      display: none;
    }
  }
  
  @media (min-width: 996px) and (max-width: 1200px) {
    .web-div{
      display: none;
    }
  } 
  
  @media (min-width: 1201px) {
    .mob-div {
      display: none;
    }
  }
  
  @media (max-width: 1200px) {
    .web-div {
      display: none;
    } 
  }