.col-lg-6{
    /* margin-right:3px; */
    width: 108%;
    /* margin-top: 20px; */
}

    
/* 
#container { 
       background-image:url('../image/cloud.jpg'); 
       height: 800px;
       width:1200px;
       padding:60px;
    
     }  */

 