<!-- <div *ngIf="author">
    <div class="col-lg-2 prof-img">
        <img class="img-thumbnail rounded" width="100" [src]="author.image_uri" alt="Author" *ngIf="author">
    </div>
    <div class="col-lg-10 prof-info">
        <h1>{{author.name}}</h1>
        <p>{{author.bio}}</p>
        <h6>Experience: {{author.experience}}</h6>
        <h6>Location: {{author.location}}</h6>
        <h6>Qualification: {{author.qualification}}</h6>
    </div>
</div> -->


<div class="card profile__card" *ngIf="author">
    <div class="profile__details">
        <div class="profile__details__img">
            <img class="img-thumbnail rounded" [src]="author.image_uri" alt="Author" *ngIf="author">
        </div>
        <div class="profile__details__name">
            <h1>{{author.name}}</h1>
            <h5>{{author.qualification}}</h5>
            <p>{{author.bio}}</p>
        </div>
    </div>
    <div class="profile_detail">
        <div class="profile_detail__experience">
            <i class="fa fa-trophy"></i><span>No. of Posts </span>
            <p *ngIf="articles.length > 0">{{articles.length}}</p>
        </div>
        <div class="profile_detail__location">
            <i class="fa fa-map-marker"></i><span>Location</span>
            <p> {{author.location}}</p>
        </div>
        <div class="profile_detail__qualification">
            <i class="fa fa-mortar-board"></i><span>Company </span>
            <p>{{author.company}}</p>
        </div>
        <div class="profile_detail__experience">
            <i class="fa fa-trophy"></i><span>Designation </span>
            <p>{{author.designation}}</p>
        </div>
    
    </div>
</div>


<hr>

<!--KEHKASHAN START-->
<div *ngIf="articles.length !== 0">
  <div class="card article__card" *ngFor="let article of articles; let i = index">
      <app-article-item [law_id]="article.law_id" [article]="article" [index]="i">
        </app-article-item>
  </div>
</div>

<!-- <div class="card-body">
    <div class="card-content">
      <div class="description">
        <h4>{{article.heading}}</h4>
        <h5 class="card-text">{{article.base}}</h5>
      </div>
      <div class="card-img">
        <img [src]="article.uri" class="img-responsive" alt="">
      </div>
      <div class="description">
        <p class="summary">{{article.excerpt}}</p>
        <a class="pull-right" [routerLink]="['/article']" [queryParams]="{
                  law_id: article.law_id,
                  list_id: article.article_id
                }">Read More</a>
      </div>
      <br>
      <hr>
      <div class="card__action row">
        <div class="card__author col-lg-8">
          <div class="card__author-dp">
            <img [src]="author.image_uri" class="img-thumbnail" alt="author" *ngIf="author">
          </div>
          <div class="card__author-content">
            <a [routerLink]="['/author', article.author_id]">{{article.by}}</a>
            <p>
              {{article.date | date}}
            </p>
          </div>
        </div>
         <div class="stars pull-right col-lg-4">
                <span>{{ avgRating | async | round }}</span>
                <div class="stars-outer">
                  <div class="stars-inner" [style.width]="((avgRating | async | round)*20)+'%'"></div>
                </div>
              </div>
      </div>
    </div>
  </div> -->

<!--Kehkashan END-->
