

            <div class="col-xs-12 col-lg-12" *ngFor="let chapter of chapters">
              <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Chapter {{chapter.number}}: {{ chapter.name }}
                  </a>
                </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body"
                    style="cursor: pointer;"
              class="list-group-item"
              *ngFor="let section of chapter.sections"
              (click)="toSection(chapter.id, section.name)">
                        Sections {{section.number}} : {{section.name}}
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of #accordion -->
            </div>
            <!-- end of wrap -->

          <!-- end of container -->
<!--
  <hr>
<div class="container">
    <div class="col-xs-12 panel"  *ngFor="let chapter of chapters">
     <div class="panel-heading"><h4> Chapter {{chapter.number}}: {{ chapter.name }}</h4></div>
     <div class="panel-group wrap" id="bs-collapse">
      <ul class="list-group">
        <li
        style="cursor: pointer;"
          class="list-group-item"
          *ngFor="let section of chapter.sections"
          (click)="toSection(chapter.id, section.name)"
          >
         <div class="panel-body">Sections {{section.number}} : {{section.name}}</div>
      </li>
      </ul>
    </div>
    </div>
  </div>   -->

