

<div class="row">
    <div class="col-xs-12 panel panel-info"  *ngFor="let chapter of chapters">
     <div class="panel-heading"><h4> Chapter {{chapter.number}}: {{ chapter.name }}</h4></div> 
      <ul class="list-group">
        <li
        style="cursor: pointer;"
          class="list-group-item"
          *ngFor="let section of chapter.sections"
          (click)="toSection(chapter.id, section.name)"
          >
         <div class="panel-body">Sections {{section.number}} {{section.name}}</div>
      </li>
      </ul>
    </div>
  </div>

