h2 {
  color: #29303b;
  text-align: center;
  line-height: 1!important;
  font-weight: 700!important;
  font-size: 22px;
  margin: 0px 0 3px;
}

 h3 {
  font-size: 15px;
  font-weight: 300;
  color: #afaeae;
  text-align: center;
  margin: 0 0 15px;
}

.btn-primary{
  background-color: #6571b5;
  margin-bottom:20px; 
  border-color:#6571b5 !important;
}

.btn-primary:active:hover,
 .btn-primary.active:hover, .open >
 .dropdown-toggle.btn-primary:hover,
 .btn-primary:active:focus, .btn-primary.active:focus,
 .open > .dropdown-toggle.btn-primary:focus,
 .btn-primary:active.focus, .btn-primary.active.focus,
 .open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #464880;
  border-color: #464880;
}

.has-error {
  color: rgb(247, 103, 103);
  margin: 5px;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group .form-control:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

 .input-group .form-control {
  display: table-cell;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.form-control {
  box-shadow: none;
  font-size: 16px;
  padding: 10px 12px;
  transition: border-color .08s ease-in-out,box-shadow .08s ease-in-out;
}
.form-control {
  width: 100%;
  height: 44px;
  padding: 11px 12px;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  border: 1px solid #cacbcc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -ms-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control {
  display: block;
  font-size: 15px;
  line-height: 1.43;
}

#edit-template .form-wrapper .edit-handle {
  width: 44px;
}

.input-group-addon:last-child {
  border-left: 0;
}

.input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group .form-control:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group-addon {
  padding: 11px 12px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  background-color: #f2f3f5;
  border: 1px solid #cacbcc;
  border-radius: 2px;
  cursor: pointer;
}

.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}




/*THGIS*/

h4 {
  color: #464880;
}
input{
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  /* background-color: #f9f9f9;  */
  border: none; 
  /* border: 1px solid #afaeae; */
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  border-bottom: 2px solid #464880;
}

.btn-primary {
  background-color: #6571b5;
  opacity: 1;
}

input:focus {
  outline: 0;
  border-color:  #464880;
}
input:focus + .input-icon i {
  color: #464880;
}
input:focus + .input-icon:after {
  border-right-color: #464880;
}

.input-group-custom {
  margin-top: 1em;
  zoom: 1;
}
.input-group-custom:before,
.input-group-custom:after {
  content: "";
}
.input-group-custom:after {
  clear: both;
}
.input-group-icon {
  position: relative;
}
.input-group-icon input {
  padding-left: 4.4em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

input.ng-touched.ng-invalid.ng-dirty {
  border-bottom: 2px solid rgb(241, 140, 140) !important;
}

.login_side{
  padding-left: 30px;
  padding-right: 30px;
}

.login_submit{
  padding-top: 25px;
  display:grid;
}

.error_text{
  color: rgb(241, 140, 140);
}


.login_or{
  font-size: 12px;
  font-family: "Roboto", Helvetica;
}

.reset_password_mail{
  color:#6571b5;
}
