.app-card{
    margin-top: 20px;
    background-color: #ffffff;
    padding-top:20px;
    padding-bottom:20px;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
}



