<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="pill-border btn-group">
          <ul class="nav nav-pills">
              <li class="active pill-color">
                  <a class="btn pill" data-toggle="pill" href="#rules">By Rule</a>
                </li>
                <li>
                  <a class="btn pill" data-toggle="pill" href="#chapters">By Chapter</a>
                </li>
              </ul>
        </div> 

  <hr>
  <div class="tab-content">
    <div id="chapters" class="tab-pane fade">
      <div class="box">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 pull-left">
          <h3 class="heading">{{rule.name}}, {{rule.year}}</h3>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-right">
          <!-- <label for="search">Search by chapter</label> -->
          <input class="form-control search-box mob-div" type="text" name="search" placeholder="Search by chapter..." [(ngModel)]="filter">
        </div>
      </div>

      <hr>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel-group wrap" role="tablist" aria-multiselectable="true" *ngFor="let chapter of chapters | filter:filter | paginate: { id: 'first', itemsPerPage: 10, currentPage: p1 }; let i = index"
          [attr.id]="'accordion_' + i">
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne" [attr.data-parent]="'#accordion_' + i"
                  [attr.href]="'#collapseOne_' + i">
                  <span class="chapter-num panel-group">
                      Chapter {{chapter.number}}
                  </span>
                  <span class="chapter-name">
                      {{ chapter.name }}
                  </span>
                  
                </a>
              </h4>
            </div>
            <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body" style="cursor: pointer;" class="list-group-item" *ngFor="let rule of chapter.rules | filter:filter2 | orderBy: 'number' : false; let i = index"
                (click)="toRule(chapter.id, rule.name)">
               Rule {{rule.number}}: {{rule.name}}
              </div>
            </div>
          </div>
        </div>
        <!-- end of #accordion -->
        <pagination-controls (pageChange)="p1 = $event" id="first"></pagination-controls>
      </div>
    </div>
    <div id="rules" class="tab-pane fade in active">
      <div class="box">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 pull-left">
          <h3 class="heading">{{rule.name}}, {{rule.year}}</h3>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 pull-right">
          <input class="form-control search-box pointer" type="text" name="search" placeholder="Search by rules..." [(ngModel)]="filter2">
        </div>
      </div>
      <hr>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="list-group">
          <a *ngFor="let rule of rules | filter:filter2 | paginate: {id: 'second', itemsPerPage: 10, currentPage: p2 }; let j = index"
          (click)="toRule(rule.chap_id, rule.name)"
          style="cursor: pointer;"
          class="list-group-item">
           <span class="chapter-nums"> Rule {{rule.number}}</span>
            <span class="chapter-names"> {{rule.name}}</span>        
          </a>
        </div>
        <pagination-controls (pageChange)="p2 = $event" id="second"></pagination-controls>
      </div>
    </div>
  </div>
</div>
