.heading {
  margin-bottom: 0 !important;
}

.inside {
  width: 100px;
  border-radius: 50%;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: red;
  background-color: white;
  background-image: none;
  filter: none;
}
