<label for="search">Search:</label>
 <input class="form-control" type="text" name="search" [(ngModel)]="filter">
<div class="list-group" *ngFor="let state of states | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
        <a href="#" class="list-group-item list-group-item-stateion panel" [routerLink]="['../', state.law_id, 'law', 'desc']">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 title"> {{ state.name }}</h5>
          </div>
        </a>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
