@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
.panel{
border-left:8px solid #ff5a5f; 
border: #c9c8c8 1px solid;
 color:#3f3f3f;
 background-color: #fff;
 padding:0px;
 padding-left:18px;
 /* margin: 2px; */
 border-radius: 4px;
 /* box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);  */
}

.title{
  font-size:14px;
}

.search-box{
  border:#6571B5 solid 1px;
  border-radius: 5px;
  padding:4px;
}

.pointer {
  cursor: pointer;
}

.search-style{
  padding-bottom:10px;
}

a:hover{
   border-left:8px solid #6571b5;
} 

.act-name{
  margin:5px;
}

.title{
  font-family: 'Roboto', sans-serif;
}


@media (min-width: 360px) and (max-width: 640px) {
  .mob-div{
    margin-bottom:40px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mob-div{
    margin-bottom:40px;
  }
}

@media (min-width: 970px) and (max-width: 1200px) {
  .mob-div{
    margin-bottom:40px;
  }
}

@media (min-width: 100px) and (max-width: 1000px) {
  .mob-div{
    margin-bottom:40px;
  }
}


@media (min-width: 1201px) {
  .web-div {
    margin-bottom:0px;
  }
}

/* ................................... */

