
.panel{
 background-color: #6571b5;
 color:#fff;
 padding:0px;
 padding-left:5px;
 margin: 2px;
}

.title{
  font-size:14px;
}

.search-box{
  border:#6571B5 solid 1px;
  border-radius: 5px;
}

.pointer {
  cursor: pointer;
}

.search-style{
  padding-bottom:10px;
}

a:hover{
  border:#6571b5 solid 1px;
}

.act-name{
  margin:5px;
}
  