
 <br />
 <br />
 <div class="header">
   <div class="logo">
     <img src="logo.svg" width="40" />
   </div>
   <div class="logo-title">Logo Title</div>
 </div>
 <br />
 <div class="main-container">
   <div class="sticky-container">
     <div ng-sticky [offSet]="0" [addClass]="'is-sticky'">
        <span>
            <a routerLink="/auth/register">Register</a>
          </span>
          <span>
            <a routerLink="/auth/login">Login</a>
          </span>
     </div>
   </div>
   <br />
   <br />
   <br />
   <br />
   <div class="sticky-container">
     <div ng-sticky [offSet]="40" [addClass]="'is-sticky-red'">
       <span></span>
     </div>
   </div>
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   <div style="text-align: center">Content Test</div>
 </div>
