<label for="daterangeInput">Select date range of circulars:</label>
  <input type="text" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)" />



  <hr>
    <table class="table table-striped">
    <thead class="head">
      <tr>
        <th (click)="sortByName()" class="col-md-3">
          Circular No.
          <i class="fa" [ngClass]="{'fa-sort': column != 'name', 'fa-sort-asc': (column == 'name' && isDesc), 'fa-sort-desc': (column == 'name' && !isDesc) }" aria-hidden="true"> </i>
        </th>
        <th (click)="sort('name')" class="col-md-3">
            File No.
            <i class="fa" [ngClass]="{'fa-sort': column != 'file_no', 'fa-sort-asc': (column == 'file_no' && isDesc), 'fa-sort-desc': (column == 'file_no' && !isDesc) }" aria-hidden="true"> </i>
          </th>
        <th (click)="sort('date')" class="col-md-2">
          Date
          <i class="fa" [ngClass]="{'fa-sort': column != 'date', 'fa-sort-asc': (column == 'date' && isDesc), 'fa-sort-desc': (column == 'date' && !isDesc) }" aria-hidden="true"> </i>
        </th>
        <th (click)="sort('subject')" class="col-md-5">
          Subject
          <i class="fa" [ngClass]="{'fa-sort': column != 'subject', 'fa-sort-asc': (column == 'subject' && isDesc), 'fa-sort-desc': (column == 'subject' && !isDesc) }" aria-hidden="true"> </i>
        </th>
        <th class="col-md-2">
          PDF Link
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let circular of circulars">
        <td (click) = "toCircular(circular.name)">
          {{circular.name}}
        </td>
        <td (click) = "toCircular(circular.name)">
            {{circular.file_no}}
        </td>
        <td>
          {{circular.date}}
        </td>
        <td>
          {{circular.subject}}
        </td>
        <td>
            <a [href]="circular.pdf" target="_blank">Link</a>
          </td>
      </tr>
    </tbody>
  </table>
