
<div class="box">
<div class="col-lg-6 search-box pointer pull-left">
  <div class="col-lg-4"><label for="daterangeInput">Select date:</label></div>
  <div class="col-lg-2"><input type="text" class="date-style pointer" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)" /></div>
</div>

<div class="col-lg-5 pull-right">
    <!-- <label for="search">Search:</label> -->
    <input class="form-control search-box" type="text" name="search"  placeholder="Search..." [(ngModel)]="filter">
</div>   
</div>  
  
  <hr>
    <table class="table table-bordered">
    <thead class="head">
      <tr>
          <th (click)="sort('subject')" class="col-md-6 text-center">
              Subject
              <i class="fa" [ngClass]="{'fa-sort': column != 'subject', 'fa-sort-asc': (column == 'subject' && isDesc), 'fa-sort-desc': (column == 'subject' && !isDesc) }" aria-hidden="true"> </i>
            </th>
        <th (click)="sortByName()" class="col-md-1 text-center">
          Circular No.
          <i class="fa" [ngClass]="{'fa-sort': column != 'name', 'fa-sort-asc': (column == 'name' && isDesc), 'fa-sort-desc': (column == 'name' && !isDesc) }" aria-hidden="true"> </i>
        </th>
        <th (click)="sort('name')" class="col-md-3 text-center">
            File No.
            <i class="fa" [ngClass]="{'fa-sort': column != 'file_no', 'fa-sort-asc': (column == 'file_no' && isDesc), 'fa-sort-desc': (column == 'file_no' && !isDesc) }" aria-hidden="true"> </i>
          </th>
        <th (click)="sort('date')" class="col-md-3 text-center">
          Date
          <i class="fa" [ngClass]="{'fa-sort': column != 'date', 'fa-sort-asc': (column == 'date' && isDesc), 'fa-sort-desc': (column == 'date' && !isDesc) }" aria-hidden="true"> </i>
        </th>
       
        <th class="col-md-1 text-center">
          PDF 
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let circular of circulars | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <td>
              {{circular.subject}}
            </td>
        <td (click) = "toCircular(circular.name)">
          {{circular.name}}
        </td>
        <td (click) = "toCircular(circular.name)">
            {{circular.fileno}}
        </td>
        <td>
          {{circular.date}}
        </td>
        <td>
            <a [href]="circular.pdf" target="_blank">Link</a>
          </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
