
<div class="row">
  <div class="col-xs-12"  *ngFor="let act of acts">
    <div class="panel panel-primary">
    <div class="panel-heading"> <h4> {{ act.title }}</h4></div>
     <div class="panel-body">{{ act.name }}</div> 
    </div>  
      
    <ul class="list-group">
      <li
      style="cursor: pointer;"
        class="list-group-item"
       (click)="toSections(act.id)">
        <div>
         <button type="button" class="list-group-item list-group-item-action">Sections</button> 
        </div>
      </li>
      <li
      style="cursor: pointer;"
      class="list-group-item"
      (click)="toRules(act.id)"
     >
      <div>
        <button type="button" class="list-group-item list-group-item-action">Rules</button>
      </div>
    </li>
    <li
    class="list-group-item"
   >
    <div>
      <button type="button" class="list-group-item list-group-item-action">Notifications</button>
    </div>
  </li>
    </ul> 

  </div>
</div>
