 <hr>
 <div class="row">
    <div class="col-xs-12" *ngFor="let act of acts">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h4> {{ act.title }}</h4>
            </div>
            <div class="panel-body">{{ act.name }}</div>
        </div>


<!--
        <div class="panel panel-success">
        <div class="panel-heading">
                <h4>Heading</h4>
            </div>
        </div>     -->

        <div style="cursor: pointer;" (click)="toSections(act.id)">
            <div class="card-body">
                <button type="button" class="list-group-item list-group-item-action btn-lg btn-info">Sections</button>
            </div>
        </div>

        <div style="cursor: pointer;" (click)="toRules(act.id)">
            <div>
                <button type="button" class="list-group-item list-group-item-action btn-lg btn-info">Rules</button>
            </div>
        </div>

        <div style="cursor: pointer;" (click)="toNotifications(act.id)">
            <div>
                <button type="button" class="list-group-item list-group-item-action btn-lg btn-info">Notifications</button>
            </div>
        </div>

    </div>
</div>







<!-- <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let act of acts">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse1">{{ act.title }}</h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div  class="panel-body">
                    <div style="cursor: pointer;" (click)="toSections(act.id)">
                             Sections
                        </div>

                        <div style="cursor: pointer;" (click)="toRules(act.id)">
                            <div>
                                Rules
                            </div>
                        </div>

                        <div>
                            <div>
                               Notifications
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> -->


