
@import url('https://fonts.googleapis.com/css?family=Roboto');
.title{
    color:red;
}

div.panel-heading {
     border: 0.5px solid #747474; 
}

.btn-lg{
    opacity: 0.5;
    color:#000;
}

.panel-heading{
    padding:1px 15px;
    background-color: #009688;
    color:#fff;

}
.panel-body{
    border: 0.2px solid #747474; 
}

/* .col-lg-3{
    width:100%;
     padding-left: 33px;
 }
 
 .col-xs-12{
     padding:20px;
 }
 .col-sm-6{
     padding:20px;
 
 } 
 .col-md-4{
     padding:20px;
 
 }
 .col-lg-3{
     padding:20px;
 } */
 
 .panel-success>.panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #D6EA42;
}

.text {
    color: #3f3f3f;
    font-size: 15px;
    opacity: 21.5;
    /* border-bottom: 1px solid #009688; */
}

.card-body{
    padding:2px;
    /* box-shadow: 0 8px 6px -6px black; */

    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}


/* ..........................tab css............................. */

#program h4 {
    color: #808080;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

#program h3 {
  margin-top: 16px;
  font-family: 'Roboto', sans-serif;
}

#program .program-divider {
    border: 1px solid #f9f9f9;
    margin-top: 32px;
    margin-bottom: 42px;
}

#program span {
    padding-right: 12px;
}

#program img {
  border-radius: 50%;
}

.nav-tabs {
  margin-bottom: 20px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  color: #3f3f3f;
  font-weight: 400; 
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 0px;
  font-family: 'Roboto', sans-serif;
}
.nav-tabs > li > a:hover {
  background-color: rgba(166, 176, 226, 0.501);
  border: #464880 1px solid;
  border-radius: 3px 3px 0px 0px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #464880;
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color:#464880;
  border-bottom-width: 3.1414px;
  font-family: 'Roboto', sans-serif;
}

/* li.active > a:hover{
    background-color: #009688;
} */
.tab-content {
  padding-top: 20px;
}

h2{
    font-family: 'Roboto', sans-serif;
}