<div class="col-lg-3 profile__sidebar box" *ngIf="auth.user | async as user">
        <div class="card__author-dp" >
                <img alt="author" class="img-thumbnail" [src]="user.photoURL">
                <!-- <h5>{{user.displayName}}</h5> -->
            </div>
            
         <hr>    
    <ul class="list-group">
        <li style="cursor: pointer;" class="list-group-item" 
         [routerLink]="['/user']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
        <div class="profile_icon">
               <div><i class="fa fa-user"></i></div> 
        <div>Profile</div>
    </div>
    </li>

        <li style="cursor: pointer;" class="list-group-item" 
        [routerLink]="['edit-profile']"  routerLinkActive="active">
        <div class="profile_icon">
            <div><i class="fa fa-edit"></i></div>
            <div>Edit Profile</div>
        </div>
        </li>

        <li style="cursor: pointer;" class="list-group-item" 
        [routerLink]="['edit-account']"  routerLinkActive="active">
        <div class="profile_icon">
            <div><i class="fa fa-address-card-o"></i></div>
            <div> Edit Account</div>
        </div>
        </li>
    </ul>
</div>
<div class="col-lg-9">
  <router-outlet></router-outlet>
</div>
