<div class="col-lg-3 profile__sidebar box">
        <div class="card__author-dp">
                <img _ngcontent-c6="" alt="author" class="img-thumbnail" src="https://media1.popsugar-assets.com/files/thumbor/bp72LRboS8pdPlVvLXRz1QDxOYI/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2015/07/08/991/n/1922398/53f34b16_edit_img_image_1090627_1436394745_INT_AntMan_PaulRuddEvangelineLilly_070715_CLUELESS_SQUARE/i/Paul-Rudd-Clueless-Interview-Video.jpg">
            </div>
            
         <hr>    
    <ul class="list-group">
        <li style="cursor: pointer;" class="list-group-item" [routerLink]="['/user']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-user" style="font-size:24px"></i> Profile</li>
        <li style="cursor: pointer;" class="list-group-item" [routerLink]="['edit-profile']"  routerLinkActive="active"><i class="fa fa-edit" style="font-size:24px"></i> Edit Profile</li>
        <li style="cursor: pointer;" class="list-group-item" [routerLink]="['edit-account']"  routerLinkActive="active"><i class="fa fa-address-card-o" style="font-size:24px"></i> Edit Account</li>
    </ul>
</div>
<div class="col-lg-9">
  <router-outlet></router-outlet>
</div>
