<div class="col-lg-3">
    <ul class="list-group">
        <li style="cursor: pointer;" class="list-group-item" [routerLink]="['/user']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Profile</li>
        <li style="cursor: pointer;" class="list-group-item" [routerLink]="['edit-profile']"  routerLinkActive="active">Edit Profile</li>
        <li style="cursor: pointer;" class="list-group-item" [routerLink]="['edit-account']"  routerLinkActive="active">Edit Account</li>
    </ul>
</div>
<div class="col-lg-9">
  <router-outlet></router-outlet>
</div>
