/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("assets/image/webbg.png");
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #6571b5;
}

.daterangepicker /deep/ td.active,
.daterangepicker td.active:hover {
  background-color: #6571b5 !important;
}

.daterangepicker /deep/ td.in-range {
  background-color: #8792cc !important;
}

.daterangepicker /deep/ .ranges li {
  color: #6571b5 !important;
}

.daterangepicker /deep/ .ranges li.active,
.ranges li:hover {
  background: #6571b5 !important;
  border: 1px solid #6571b5 !important;
  color: #fff !important;
}

.daterangepicker /deep/ .btn-success, .daterangepicker /deep/ .btn-success:focus{
  color: #fff;
  background-color: #6571b5;
  border-color: #6571b5;
}

.daterangepicker /deep/ .input-mini.active {
  border: 1px solid #6571b5 !important;
}


/* .............profile ................... */
#header__profile{
  text-align: left;
  padding-left:10px;
  display: grid;
  grid-template-columns:60px auto;
  align-items: center;
}

#profile__name{
  text-align: left;
  margin: 0;
  color:#3f3f3f;
  font-size: 20px;
  padding-left:8px;
}

#profile__email{
  text-align: left;
  color:#3f3f3f;
  font-size: 12px;
  padding-left:8px;
}

#header__profile_inner{
  padding:5px;
  align-self: center;
}

#header_line { 
  margin:0;
} 

.header__profile_img_container    {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

#header__profile img#profile_img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

