<div class="dropdown">
  <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
  <button class="btn btn-primary dropdown-toggle drop-style" type="button" data-toggle="dropdown">Select rule
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li *ngFor="let rule of rules">
      <a [routerLink]="[rule.id, 'rule-list']">{{rule.name}}</a>
    </li>
  </ul>
</div>

  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <!-- <label for="search">Search:</label> -->
      <input class="form-control search-box pointer" type="text" name="search"  placeholder="Search..." [(ngModel)]="filter">
  </div> 
</div>
<router-outlet></router-outlet>

