<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <div class="pill-border btn-group">
    <ul class="nav nav-pills">
      <li class="active pill-color">
        <a class="btn pill" data-toggle="pill" href="#sections">By Section</a>
      </li>
      <li>
        <a class="btn pill" data-toggle="pill" href="#chapters">By Chapter</a>
      </li>
    </ul>
  </div>
  <hr>
  <div class="tab-content">

    <!--SECTIONS-->
    <div id="sections" class="tab-pane fade in active">
      <div class="box">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 pull-left">
          <h3 class="heading">{{act.name}}, {{act.year}}</h3>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-right">
          <input class="form-control search-box" type="text" name="search" placeholder="Search by sections..." [(ngModel)]="filter2">
        </div>
      </div>
      <hr>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="list-group">
          <a class="list-group-item" *ngFor="let section of sections | filter:filter2 | paginate: {id: 'second', itemsPerPage: 10, currentPage: p2 }; let j = index"
            (click)="toSection(section.chap_id, section.name)" style="cursor: pointer;" class="list-group-item">
            <div class="chapter">
                <div class="chapter-nums">Section {{section.number}} </div>
                <div class="chapter-names">  <span> {{section.name}} </span> </div>
            </div>



          </a>
        </div>
        <pagination-controls (pageChange)="p2 = $event" class="my-pagination" id="second"></pagination-controls>
      </div>
    </div>

    <!--Chapters-->
    <div id="chapters" class="tab-pane fade">
      <div class="box">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 pull-left">
          <h3 class="heading">{{act.name}}, {{act.year}}</h3>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-right">
          <input class="form-control search-box mob-div" type="text" name="search" placeholder="Search by chapter..." [(ngModel)]="filter">
        </div>
      </div>
      <hr>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div *ngFor="let chapter of chapters | filter:filter | paginate: { id: 'first', itemsPerPage: 10, currentPage: p1 }; let i = index"
          [attr.id]="'accordion_' + i">
          <div *ngIf="chapter.sections.length !== 0">
            <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="panel-title">
                    <a role="button" data-toggle="collapse" aria-expanded="false" [attr.aria-controls]="'collapseOne_' + i" [attr.data-parent]="'#accordion_' + i"
                      [attr.href]="'#collapseOne_' + i" class="collapsed">

                    <div class="chapter">
                        <div class="chapter-num"> Chapter : </div>
                        <div class="chapter-num">{{chapter.number}} </div>
                        <div class="chapter-name"> {{ chapter.name }}</div>

                    </div>

                    </a>
                  </div>
                </div>
                <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse" role="tabpanel"
                      aria-labelledby="headingOne">
                  <div class="panel-body" style="cursor: pointer;" class="list-group-item" *ngFor="let section of chapter.sections; let i = index"
                    (click)="toSection(chapter.id, section.name)">

                    <div class="chapter">
                      <div class="chapter-nums">Section {{section.number}}</div>
                      <div class="chapter-names">{{section.name}}</div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <pagination-controls (pageChange)="p1 = $event" class="my-pagination modal-6" id="first"></pagination-controls>
      </div>
    </div>

  </div>


</div>






<!--
  <div  class="col-lg-12">
    <label for="search2">Search by Section</label>
    <input class="form-control" type="text" name="search2" [(ngModel)]="filter2">
    <hr>

    <div *ngFor ="let chapter of chapters; let i = index"
    [attr.id] ="'accordion_' + i">
    <div *ngIf="chapter.sections.length !== 0">
      <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne" [attr.data-parent]="'#accordion_' + i"
                [attr.href]="'#collapseOne_' + i">
                Chapter {{chapter.number}}: {{ chapter.name }}
              </a>
            </h4>
          </div>
          <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body" style="cursor: pointer;" class="list-group-item" *ngFor="let section of chapter.sections | filter:filter2 | orderBy: 'number' : false; let i = index"
              (click)="toSection(chapter.id, section.name)">
              Section {{section.number}}: {{section.name}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div> -->

<!-- end of #accordion -->

<!-- end of wrap -->

<!-- end of container -->

<!-- ................................................................. -->
